<!DOCTYPE html>
<html>
<head>
    <title>M&Ms Nerd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="container">
        {{#if user}}<h4>
            <img src="{{user.DisplayPicture}}" height="32" width="32" />{{user.DisplayName}}
            <a class="btn btn-default btn-sm" href="/auth/signout"><i class="glyphicon glyphicon-log-out"></i> sign out</a>
        </h4>{{/if}}
        <h1>count yr M&Ms</h1>
        {{#if user}}
        <form id="mmcountform" class="mmscounts" data-bind="if:currentCount">
            <div>
                <div class="row">
                    <div class="col-md-4" data-bind="css:{'bg-danger':validationResult().hardErrs.red}">
                        <div data-bind="if:validationResult().hardErrs.red"><span data-bind="text:valMessages.forcePosInt"></span></div>
                        <div class="input-group "><label for="red" class="input-group-addon">Red:</label><input data-bind="value: currentCount().red" class="form-control" id="red" type="number" min="0" /></div>
                    </div>
                    <div class="col-md-4" data-bind="css:{'bg-danger':validationResult().hardErrs.green}">
                        <div data-bind="if:validationResult().hardErrs.green"><span data-bind="text:valMessages.forcePosInt"></span></div>
                        <div class="input-group"><label for="green" class="input-group-addon">Green:</label><input data-bind="value: currentCount().green" class="form-control" id="green" type="number" min="0" /></div>
                    </div>
                    <div class="col-md-4" data-bind="css:{'bg-danger':validationResult().hardErrs.blue}">
                        <div data-bind="if:validationResult().hardErrs.blue"><span data-bind="text:valMessages.forcePosInt"></span></div>
                        <div class="input-group"><label for="blue" class="input-group-addon">Blue:</label><input data-bind="value: currentCount().blue" class="form-control" id="blue" type="number" min="0" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" data-bind="css:{'bg-danger':validationResult().hardErrs.brown}">
                        <div data-bind="if:validationResult().hardErrs.brown"><span data-bind="text:valMessages.forcePosInt"></span></div>
                        <div class="input-group "><label for="brown" class="input-group-addon">Brown:</label><input data-bind="value: currentCount().brown" class="form-control" id="brown" type="number" min="0" /></div>
                    </div>
                    <div class="col-md-4" data-bind="css:{'bg-danger':validationResult().hardErrs.orange}">
                        <div data-bind="if:validationResult().hardErrs.orange"><span data-bind="text:valMessages.forcePosInt"></span></div>
                        <div class="input-group "><label for="orange" class="input-group-addon">Orange:</label><input data-bind="value: currentCount().orange" class="form-control" id="orange" type="number" min="0" /></div>
                    </div>
                    <div class="col-md-4" data-bind="css:{'bg-danger':validationResult().hardErrs.yellow}">
                        <div data-bind="if:validationResult().hardErrs.yellow"><span data-bind="text:valMessages.forcePosInt"></span></div>
                        <div class="input-group "><label for="yellow" class="input-group-addon">Yellow:</label><input data-bind="value: currentCount().yellow" class="form-control" id="yellow" type="number" min="0" /></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group ">
                            <div class="checkbox">
                                <label for="plain" class=""><input type="radio" id="plain" name="type" value="plain" data-bind="checked: currentCount().type" checked /> Plain </label>
                                <label for="peanut" class=""><input type="radio" id="peanut" name="type" value="peanut" data-bind="checked: currentCount().type" /> Peanut</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-bind="if:!validationResult().softErrs.$model">
                <!-- ko if: validationResult().hardErrs.$model -->
                <div class="col-md-4 alert alert-danger" data-bind="text: valMessages.$model.someRequired">
                </div>
                <!-- /ko -->
                <div class="col-md-4"><button class="btn btn-success" data-bind="click:submitCount" type="button">Count em.</button></div>
            </div>
            <div class="row" data-bind="if:validationResult().softErrs.$model">
                <div class="col-md-8 alert alert-warning">
                    <div class="pull-left" data-bind="text: valMessages.$model.allRequired"></div><button class="btn btn-success pull-right" data-bind="click:submitCountReally" type="button">Yeah, do it.</button>
                    <div class="clearfix"></div>
                </div>

            </div>
        </form>
        <div data-bind="fadeInOut:addCountJustHappened" style="display:none">
            <div class="row">
                <div class="alert alert-success alert-dismissable col-md-12 ">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    I got your stuff.  Thanks.
                    <button class="btn btn-success">Put in another bag?</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="userPie">
            </div>
            <div class="col-md-6" id="globalPie">
            </div>
        </div>
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>
        <script type="text/javascript" src="//www.google.com/jsapi"></script>
        <script type="text/javascript" src="/models?model=MmBag"></script>
        <script type="text/javascript" src="/javascripts/mmnerd.js"></script>
        {{/if}}
        {{#unless user}}
        <div>sign in to get started: <a class="signin" href="/auth/google" title="Google sign in"><img src="//developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Google_base_44dp.png" /></a></div>
        {{/unless}}
    </div>
</body>
</html>