<!DOCTYPE html>
<html>
<head>
    <title>M&Ms Nerd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="container">
        {{#if user}}<h4>
            <img src="{{user.DisplayPicture}}" height="32" width="32" />{{user.DisplayName}}
            <a class="btn btn-default btn-sm" href="/auth/signout"><i class="glyphicon glyphicon-log-out"></i> sign out</a>
        </h4>{{/if}}
        <h1>count yr M&Ms</h1>
        {{#if user}}
		{{> user-main}}
        {{/if}}
        {{#unless user}}
        <div>sign in to get started: <a class="signin" href="/auth/google" title="Google sign in"><img src="//developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Google_base_44dp.png" /></a></div>
        {{/unless}}
    </div>
</body>
</html>