H1 {
  background-color: red;
  color: white;
}
body {
  padding: 0 10px;
}
.propBase {
  border: solid 1px #667e82;
  padding: 4px;
}
.propKeys {
  border: solid 1px #667e82;
  padding: 4px;
  color: #667e82;
}
.propVals {
  border: solid 1px #667e82;
  padding: 4px;
  color: white;
  background-color: #667e82;
}
.mmscounts label {
  color: #c4c4c4;
  font-weight: bold;
}
.mmscounts .input-group {
  margin-bottom: 5px;
}
#red {
  border-color: red;
}
#green {
  border-color: green;
}
#orange {
  border-color: orange;
}
#blue {
  border-color: blue;
}
#yellow {
  border-color: yellow;
}
#brown {
  border-color: brown;
}
label[for=red] {
  background-color: red;
  border-color: red;
}
label[for=green] {
  background-color: green;
  border-color: green;
}
label[for=orange] {
  background-color: orange;
  border-color: orange;
}
label[for=blue] {
  background-color: blue;
  border-color: blue;
}
label[for=yellow] {
  background-color: yellow;
  border-color: yellow;
}
label[for=brown] {
  background-color: brown;
  border-color: brown;
}
.signin img {
  height: 40px;
  width: 120px;
}

.stats-bar{
    margin:10px 0;
    font-size:0px;
}

.stats-bar span{
    display:inline-block;
    
    height:20px;
}

.stats-bar .red {
    background-color:red;
}
.stats-bar .green {
    background-color:green;
}
.stats-bar .blue {
    background-color:blue;
}
.stats-bar .brown {
    background-color:brown;
}
.stats-bar .yellow {
    background-color:yellow;
}
.stats-bar .orange {
    background-color:orange;
}

#statsPopup {
    text-align:center;
    -display:none;
    border: solid 1px black;
    background-color: whitesmoke;
    float:left;
    position:absolute
}

#statsPopup td{
    padding: 0 3px;
    text-align:center;
}

#statsPopup td:first-child{
    text-align:right
}

#statsPopup .red {
    background-color:rgba(255, 0, 0, 0.5);
}
#statsPopup .green {
    background-color:rgba(0, 128, 0, 0.50);
}
#statsPopup .blue {
    background-color:rgba(0, 0, 255, 0.50);
}
#statsPopup .brown {
    background-color:rgba(165, 42, 42, 0.50);
}
#statsPopup .yellow {
    background-color:rgba(255, 255, 0, 0.50);
}
#statsPopup .orange {
    background-color:rgba(255, 165, 0, 0.50);
}